@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    padding: 0px;
    margin: 0px;
    background-color: #f6f0f2;
    font-family: "Inter", sans-serif;
}

.container {
    padding: 90px 80px;
    display: flex;
}

.profile-photo {
    width: 300px;
}

.social-media-contacts {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    width: 15%;
    margin-left: 49px;
    width: 68%;
    /* padding: 17px 10px; */
    margin-top: 30px;
    cursor: pointer;
    transition: 0.5s;
}


.social-media-contacts :hover{
    scale: 1.1;
    transition: 0.5s;

}

.social-media-contacts img{
    transition: 0.5s;
    width: 30px;
}


.profile-information {
    margin-top: 90px;
   
    
}

.profile-photo{
    border-radius: 40px;
}


.profile-information button {
    font-family: "Inter", sans-serif;
    padding: 10px 50px;
    font-size: 18px;
    width: 69%;
    margin-left: 44px;
    align-items: center;
    margin-top: 25px;
    border-radius: 12px;
    margin-top: 30px;
    border: 1px solid #333333;
    cursor: pointer;
    /* border-color: #333333; */
}

.profile-information button:hover{
    background-color: #FF5588;
}

.right-section {
    margin-left: 80px;

}



.right-section-intro h2 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    /* text-align: left; */
    color: #FF5588;
    margin-bottom: 90px;
}

.right-section-intro h1 {
    font-family: "Inter", sans-serif;
    font-size: 50px;
    font-weight: 400;
    /* line-height: 76.8px; */
    /* text-align: left; */
    color: #181818;
    /* margin-top: 40px; */
}

.right-section-intro p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    /* line-height: 28px; */
    /* text-align: left; */
    color: #333333;
    margin-top: 20px;
}

.orders {
    display: flex;
    margin-top: 170px;
}




.Experience h3 {
    font-family: "Inter", sans-serif;
    font-size: 64px;
    font-weight: 400;
    /* line-height: 77.45px;
    text-align: left; */
    color: #FF5588;
    margin-left: 40px;


}

.Experience span {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    /* line-height: 29.05px; */
    /* text-align: left; */

}

.completed-project {
    margin-left: 30px;
}



.completed-project h3 {
    font-family: "Inter", sans-serif;
    font-size: 64px;
    font-weight: 400;
    /* line-height: 77.45px; */
    /* text-align: left; */
    color: #FF5588;
    margin-left: 80px;

}

.completed-project span {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    /* line-height: 29.05px; */
    /* text-align: left; */
    margin-left: 50px;
}

.happy-clients {
    margin-left: 30px;
}



.happy-clients h3 {
    font-family: "Inter", sans-serif;
    font-size: 64px;
    font-weight: 400;
    /* line-height: 77.45px; */
    /* text-align: left; */
    color: #FF5588;
    margin-left: 60px;



}


.happy-clients span {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-left: 50px;
    /* line-height: 29.05px; */
    /* text-align: left; */

}

/* about section */
.about-section {
    margin-top: 120px;
}

.about-section span {


    font-size: 24px;
    font-weight: 500;

    color: #FF5588;

}

.about-section h1 {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 400;

}

.about-section p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;

}



.about-paragraph {

    font-weight: 450px;


}

.career-section {
    margin-top: 190px;
}

.career-section span {
    /* margin-bottom: 20px; */
    font-size: 24px;
    font-weight: 400;
    color: #FF5588;


}

.career-section h1 {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 400;

}

.skills-time h1 {

    font-size: 26px;
    font-weight: 400;

    margin-top: 12px;



}

.skills-time span {
    /* margin-top :90px;  */
    font-size: 16px;
    font-weight: 400;




}

.skills-time div {


    margin: 40px 0px;

}

.application-icons iconify-icon{
    cursor: pointer;
}
.services-section {
    margin-top: 190px
}

.services-section-head span {
    margin: bottom 20px !important;
    font-size: 24px;
    font-weight: 400;
    color: #FF5588;

}


.services-section-head h1 {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 400;
}













.no-of-services-and-amount {
    display: flex;
    margin-top: 40px;


}

.no-of-services-and-amount div {
    margin-left: 5px;
    border: 1px solid #333333;
    border-radius: 16px;
    padding: 24px 38px;


}

.no-of-services-and-amount p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;

}

.no-of-services-and-amount span {
    font-size: 16px;
    font-weight: 400;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 4px !important;


}

.service-one:hover {
    border: 1px solid #FF5588 !important;
    cursor: pointer;

}



.service-three {
    margin-left: 30px !important;
   
    cursor: pointer;


}

.service-three:hover{
    border: 1px solid #FF5588 !important;
   
}

.skill-section {
    margin-top: 140px;
}


.skill-section span {
    font-weight: 400;
    font-size: 24px;
    color: #FF5588;

}

.skill-section h1 {
    font-weight: 400;
    font-size: 40px;
    margin-top: 30px;
}

.application-icons iconify-icon {
    margin-top: 60px;
    font-size: 76px;
}

.icon {
    margin-left: 43px;
}


.portfolio-section {
    margin-top: 140px;
}

.portfolio-section img{
    border-radius: 20px;
   
}

.portfolio-section span {
    font-weight: 400;
    font-size: 24px;
    color: #FF5588;
}

.portfolio-section h1 {
    font-weight: 400;
    font-size: 40px;
    margin-top: 30px;
}

.Rectangle-two {
    width: 400px;
    margin-left: 6px;
    margin-top: 10px;
    width: 420px;
}
.Rectangle-one {
    width: 857px;
    margin-top: 50px;
    margin-top: 20px;
}





.Testimonial-section {
    margin-top: 140px;
}

.Testimonial-section-head span {
    font-weight: 400;
    font-size: 24px;
    color: #FF5588;
}

.Testimonial-section-head h1 {
    font-weight: 400;
    font-size: 40px;
    margin-top: 30px;
}


.clients-review {
    margin-top: 50px;
    border: 1px solid #333333;
    padding: 80px;
    border-radius: 40px;
}




.clients-name {
    margin-left: 50px;
    margin-top: 20px;
}

.clients-name h2 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 550;
    line-height: 29.05px;

}

.clients-name span {
    font-size: 20px;
    font-weight: 300;

}

.honest-reviews {
    margin-top: 50px;
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    text-align: left;

}

.brands-section {
    margin-top: 140px;

}

.brands-section span {
    font-weight: 400;
    font-size: 24px;
    color: #FF5588;
}

.brands-section h1 {
    font-weight: 400;
    font-size: 40px;
    margin-top: 30px;
}

.logo {
    margin-left: 80px
}

.brands-logo iconify-icon {
    margin-top: 50px;
    font-size: 77.66px;
    margin-right: 60px;
    cursor: pointer;


}



.brands-logo img {
    width: 127.66px;
    margin-top: 40px;

}

.contact-section {
    margin-top: 220px;
}

.contact-section span {
    font-weight: 400;
    font-size: 24px;
    color: #FF5588;

}

.contact-section h1 {
    font-weight: 400;
    font-size: 40px;
    margin-top: 30px;
}

.form-section form {
    margin-top: 60px;
}

.form-section form label {

    font-size: 16px;
    font-weight: 400;

}

.form-section form input {
    
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
    width: 580px;
    padding: 20px 10px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid rgb(201, 201, 201);

}

.form-section form input:focus {
    outline: none;
}


.form-section form button {
    padding: 20px 50px;
    font-size: 18px;
    width: 30%;
cursor: pointer;
    margin-top: 25px;
    border-radius: 12px;
    margin-top: 30px;
    border: 1px solid #333333;
}

.form-section form button:hover{
    background-color: grey;
}

.form-section form textarea{
   border-left: 0px;
   border-right: 0px;
   border-top: 0px;
   border-bottom: 1px solid rgb(201, 201, 201);
}
.form-section form textarea:focus{
    outline: none;
    padding: 5px;
}